extends ../layouts/default
include ../mixins/flash-messages

block content
    .intro
        div(style="position:absolute;left:0;right:0;text-align:center;")
            +flash-messages(flash)
        div.hero
        .introtitle
            img(src="/images/taf-logo.png")
            .hgroup
                h1 Total Annihilation Forever
                h3 The Community Driven Lobby for </br> Total Annihilation
            p.counters Currently hosting 
                span(id="player_counter").counter 0
                |  players and running 
                span(id="game_counter").counter 0
                |  games
            a(class="btn btn-default btn-lg btn-outro btn-danger", href='/client') Download Client
    .the-project: .container
        .col-md-3
        .col-md-6
            h1 The Project
            p Total Annihilation Forever is a project designed to facilitate online play for Total Annihilation. It is forked from the <a href="https://www.faforever.com">Forged Alliance Forever</a> project, includes at this time chat, matchmaking and player rating.
            p If you want to experience Total Annihilation in its true glory together with other players of all skill levels, TAF is the place to be.
    .features: .container
        .row
            .col-md-2
            .col-md-4: .text-right
                h3 Multiplayer
                p Host and join teamgames with up to 10 players simultaneously or measure your skill against others in one versus one combat against players from all over the world.
            .col-md-4
                img(src="/images/multiplayer.png" class="img-responsive")
        .row
            .col-md-2
            .col-md-4: .text-right
                img(src="/images/community.png" class="img-responsive")
            .col-md-4
                h3 Community
                p Meet casual to competitive gamers. Total Annihilation has a community of die hard players still looking for regular games after more than 20 yrs and are more than happy to welcome new players and returning old players alike.
        .row
            .col-md-2
            .col-md-4: .text-right
                h3 Competitive
                p Compete against some of the top players in TA.
                ul.text-center.list-unstyled
                    each topPlayer in topPlayers
                        li= topPlayer.name + ' - ' + topPlayer.rank
            .col-md-4
                img(src="/images/compete.png" class="img-responsive")
    .what-is: .container
        .row
            .col-md-3
            .col-md-6.text-center
                h1 What is Total Annihilation?
        .row.text-center
            .col-md-1
            .col-md-3
                img(src="/images/corecommander.png" class="img-responsive")
                h3 Arm Verus Core Infinite War
                p What began as a conflict over the transfer of conciousness from flesh to machines quickly escalated into a war which has decimated a million worlds
            .col-md-4
                img(src="/images/original_and_best.png" class="img-responsive")
                h2 Original and Best Gameplay
                p Use the right tool for the right job
            .col-md-3
                img(src="/images/armcommander.png" class="img-responsive")
                h3 Genre-Defining Command & Control
                p Control a brutal army of relentless robots to ensure the Total Annihilation of your opponent in the ground breaking RTS that redefined the genre
        .row
            h3 We are international
            p Check out where the players are from:
            div#chart-div
        .row.text-center.buy-now
            hr
            h3 In order to play Total Annihilation, you must first have a copy installed on your computer.  You can purchase it for less than 10€, below:
            .col-md-12
                a(href="https://store.steampowered.com/app/298030/Total_Annihilation/" class="btn btn-default btn-lg btn-outro btn-danger") Buy from Steam
            .col-md-12
                a(href="https://www.gog.com/game/total_anihilation_commander_pack" class="btn btn-default btn-lg btn-outro btn-danger") Buy from Good Old Games
        .row
            h3 Open source licenses
            p The TA Forever lobby client is packaged for your convenience using the Install4J <a href="https://www.ej-technologies.com/products/install4j/overview.html">multi-platform installer builder</a>
            img(src="https://www.ej-technologies.com/images/product_banners/install4j_large.png" class="img-responsive")
            p TA Forever is optimised using the JProfiler <a href="https://www.ej-technologies.com/products/jprofiler/overview.html">java profiler</a> so that you have more CPU cycles left to play TA
            img(src="https://www.ej-technologies.com/images/product_banners/jprofiler_large.png" class="img-responsive")



block js
  script const refreshCountersSeconds = !{refreshCountersSeconds};
  script(src="/js/app/counter.js")
  script(src="/js/world-map.min.js")
  script(src="/js/world-map-dependencies.min.js")
